@mixin flex($direction: row, $just: start, $align: start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $align;
}

@mixin regularH($textcolor: $black) {
  color: $textcolor;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
}

@mixin regularP($textcolor: $black) {
  color: $textcolor;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
